@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    /* <h1 style="text-align:center">The Spelling Beehive</h1> */
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

/* classes */

.boards {
    display: inline;
    text-align: center;
}

.boardp1 {
    border: 10px solid red;
    border-radius: 6px;

    text-align: center;
    float: left;
}

.board {
    width: min-content;
    margin: 32px auto 0;
    border: 10px solid red;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boardp2 {
    border: 10px solid red;
    border-radius: 6px;

    text-align: center;
    float: right;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Indent the odd columns. */
.column:nth-child(odd) {
    position: relative;
    top: 31px;
}

.square {
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flat Hexagon */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    margin-top: 7px;
    margin-bottom: 7px;
    /* margin-left: 5px;
    margin-right: 5px; */

}

.piece {
    width: 50px;
    height: 50px;
}

.black {
    background: #646970; /* Gray 50 */
}

.grey {
    background: #8c8f94; /* Gray 30 */
}

.white {
    background: #c3c4c7; /* Gray 10 */
}

